## Week 1, Class 1 Code

In [1]:
print("Hello World!")
x = 10
res = x * 4
print(x, "times 4 is", res)

Hello World!
10 times 4 is 40

In [2]:
name = input("Enter your name:")
print("Welcome Mr.", name)
print("Have a nice day Mr.", name)

Welcome Mr. Javaid
Have a nice day Mr. Javaid

In [3]:
print(   type(name)    )

<class 'str'>

In [4]:
x = 9/2
print(x)

x = 9//2
print(x)

4.5
4

In [5]:
x = 10%3
print(x)

1

In [6]:
import math as m

print(m.sqrt(9))

x = 9 ** (1/2)
print(x)

3.0
3.0

In [7]:
x = max(100, 5, 101, 8, 10, 78)
print(x)

x = min(100, 5, 101, 8, 10, 78)
print(x)

101
5

In [8]:
x = "hello"
print( type(x) )

x = 8
print( type(x) )

x = 8.0
print( type(x) )

x = True    #False
print( type(x) )

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [9]:
b = True
print(b)

b = False
print(b)

b = 2==2  #True
print(b)

b = 2!=2  #False
print(b)

b = False
print( not(b) )

True
False
True
False
True

## Week 1, Class 2

In [10]:
xs = [ 100, 3.2, 'Hammad', 23 ] #List is collection of objects

print(xs)
print( type(xs)  )
print( 'Length of list xs is', len(xs)  )

[100, 3.2, 'Hammad', 23]
<class 'list'>
Length of list xs is 4

In [11]:
#variable names is like this       car -> cars
name="Hammad"
age = 18

#In Computer Science we start counting from 0
#          0        1       2        3
         # 1,       2,      3,       4 
names = ['Ali', 'Hammad', 'Saad', 'Zayed' ] 

ages = [20, 21, 20, 19]
print("Names are", names)
print("Ages are", ages)

Names are ['Ali', 'Hammad', 'Saad', 'Zayed']
Ages are [20, 21, 20, 19]

In [12]:
#In Computer Science we start counting from 0
        #  0        1       2        3
        # -4       -3      -2       -1
names = ['Ali', 'Hammad', 'Saad', 'Zayed' ] 

print(names)

print( names[0]  )
print( names[1]  )
print( names[2]  )
print( names[3]  )

['Ali', 'Hammad', 'Saad', 'Zayed']
Ali
Hammad
Saad
Zayed

In [14]:
names = ['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif' ] 

print(names)# prints all the list
print(names[3])

#names[start:end]
print( names[1:5]  )  #1,2,3,4

#names[start:], since end is not mentioned, it will go upto end
print( names[3:]  )

#names[:4]
print( names[:4]  )

#names[:], prints the whole list = names
print( names[:]  )

#names[::1] step is 1
print ( names[::1]  )

#names[::2] step is 2
print ( names[::2]  )


#names[1:100] start=1, end=100
print ( names[1:100]  ) # 100 is end value, that python tries reach but no error

names[100] # 100 is a position/index that does not exist so error

['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
Zayed
['Hammad', 'Saad', 'Zayed', 'Fares']
['Zayed', 'Fares', 'Mohammed', 'Arif']
['Ali', 'Hammad', 'Saad', 'Zayed']
['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
['Ali', 'Saad', 'Fares', 'Arif']

In [15]:
names = ['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif' ] 

print( names[::-1]  )

# standing at 0: 0 + (-1) = -1 last index
# -1 -1 = -2 second last index
# -2 -1 = -3 third last index

['Arif', 'Mohammed', 'Fares', 'Zayed', 'Saad', 'Hammad', 'Ali']

In [16]:
names = ['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif' ] 

names[0] = 'Alhia'
print(names)
names.append( 'Humayoun' )
print(names)

['Alhia', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
['Alhia', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif', 'Humayoun']

In [17]:
names = ['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif' ] 
print(names)

x = names.append('Alhai') #CIS 1403: Java,C#,C,C++: void, Python:None
print(names)
print(x)

['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif', 'Alhai']
None

In [33]:
names = ['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif' ] 
print(names)
#Using append you can add anything (any object)
# any object means int, float, string, list, tuple, dictionary
names.append(100)
names.append('a')
names.append('name')
names.append(3.145)
names.append( [12,13,52,14] )
print(names)

print(names[11])

['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif']
['Ali', 'Hammad', 'Saad', 'Zayed', 'Fares', 'Mohammed', 'Arif', 100, 'a', 'name', 3.145, [12, 13, 52, 14]]
[12, 13, 52, 14]

In [36]:
#append() adds an object as an element to the list
#extend() only adds a list object

xs = [1, 2.2, 4, 'ali']
xs.extend( [44,55,'abc'] ) # int is not a list
# xs and the list[44,55,'abc'] will be merged
print(xs)
#imagine we have two sections CSF2113 at the same time with 
#4 members in class 1 and 3 members in class 2
# we merge class 2 into class 1
#xs is class 1
#[44,55,'abc'] is class 2
x = xs.extend( [44,55,'abc'] )
# extend also deos not return any value: None
print(xs)
print(x)

[1, 2.2, 4, 'ali', 44, 55, 'abc']
[1, 2.2, 4, 'ali', 44, 55, 'abc', 44, 55, 'abc']
None

In [38]:
x = [1,2,3]
y = [100,99,98]
x = x + y #[1,2,3]+[100,99,98]=[1,2,3,100,99,98]
# x.extend(y) is equal to x=x+y
print(x)

[1, 2, 3, 100, 99, 98]

## Lab 1.1

In [1]:
#3.1
name = input('Enter your name: ')
print("Welcome", name, "Have a nice day!")

Welcome javaid Have a nice day!

In [3]:
#3.2
fname = input("Enter your first name: ")
lname = input("Enter your last name: ")
age = int( input("Enter your age") )
print("Welcome Mr.", fname, lname,".","You are", age, "years old. Next year you will be", age+1,"years old.")

Welcome Mr. javaid iqbal . You are 25 years old. Next year you will be 26 years old.

In [42]:
#3.6
r=5
pi=3.14159
volume = 4/3*pi*r**3
print("volume is", volume)

volume is 523.5983333333332