In [1]:
print("Hello World")

Hello World

### Variables

In [3]:
name = "Humayl"
num = 198
age = 1
marks = 80.50

print("Your name is:", name)
print("Your number is:", num)
print("Your age is:", age)
print("Your marks is:", marks)

Your name is: Humayl
Your number is: 198
Your age is: 1
Your marks is: 80.5

In [5]:
# valid variable names (case sensitive variable names)
name = "A"
Name = "B"
naMe = "C"
NAME = "D"
n_a_m_e = "E"
_name = "F"
name_ = "G"
_name_ = "H"
na56me = "I"

print(name,Name,naMe,NAME,n_a_m_e, NAME, n_a_m_e, _name, name_,_name, na56me)

A B C D E D E F G F I

In [6]:
# Assigning single value to multiple variables
x=y=z= 10
print(x)
print(y)
print(z)

10
10
10

In [7]:
# Assigning multiple values to multiple variables:
a,b,c=5,10,15
print(a)
print(b)
print(c)

5
10
15

In [8]:
# A Python program to display that we can store
# large numbers in Python

a = 10000000000000000000000000000000000000000000
a = a + 1
print(type(a))
print (a)

<class 'int'>
10000000000000000000000000000000000000000001

In [9]:
# Printing Single Variable
a = 5
print(a)
print((a))

5
5

In [10]:
# Printing Multiple Variables
a = 5
b = 6
# printing multiple variables
print(a,b)
# separate the variables by the comma
print(1, 2, 3, 4, 5, 6, 7, 8)

5 6
1 2 3 4 5 6 7 8

### Decision Making

In [7]:
# if conditional statement
num = int(input("Enter the number:"))

if num % 2== 0:
    print("Number is even")

Number is even

In [6]:
# if-else conditional statements

num = int(input("Enter the number:"))

if num % 2== 0:
    print("Number is Even")
else:
    print("Number is Odd")

Number is Odd

In [13]:
# elif statement

num = int(input("Enter the number:"))

if num == 10:
    print("Number is equal to 10!")
elif num == 50:
    print("Number is equal to 50!")
elif num ==100:
    print("Number is equal to 100!")
else:
    print("Number is not equal to 10, 50, or 100")

Number is equal to 10!

In [20]:
# Student grade calculation

marks = int(input("Enter the marks"))

if 85 < marks <= 100:
    print("Congrats ! you scored grade A")
elif 60 < marks <= 85:
    print("You scored grade B + ...")
elif 40 < marks <= 60:
    print("You scored grade B ...")
elif 30 < marks >= 40:
    print("You scored grade C ....")
else:
   print("Sorry you are Fail ?")

You scored grade B + ...

### Loops

In [37]:
num = [1,2,3,4,5,6,7,8,9,10]

for n in num:
    print("Number range is:", n)

Number range is: 1
Number range is: 2
Number range is: 3
Number range is: 4
Number range is: 5
Number range is: 6
Number range is: 7
Number range is: 8
Number range is: 9
Number range is: 10

In [35]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_ = 0

for num in numbers:
    sum_ = sum_ + num**2
print("Sum of numbers is:", sum_)

Sum of numbers is: 385

In [38]:
# range function

my_list = [3, 5, 6, 8, 4]
for iter_var in range( len( my_list ) ):
    my_list.append(my_list[iter_var] + 2)
print( my_list )

[3, 5, 6, 8, 4, 5, 7, 8, 10, 6]

In [41]:
## Using else Statement with for Loop

# code to print marks of a student from the record
student_name_1 = 'Itika'
student_name_2 = 'Parker'


# Creating a dictionary of records of the students
records = {'Itika': 90, 'Arshia': 92, 'Peter': 46}
def marks( student_name ):
    for a_student in records: # for loop will iterate over the keys of the dictionary
        if a_student == student_name:
            return records[ a_student ]
            break
    else:
        return f'There is no student of name {student_name} in the records'

# giving the function marks() name of two students
print( f"Marks of {student_name_1} are: ", marks( student_name_1 ) )
print( f"Marks of {student_name_2} are: ", marks( student_name_2 ) )

Marks of Itika are:  90
Marks of Parker are:  There is no student of name Parker in the records

In [39]:
# Nested loop

import random
numbers = [ ]
for val in range(0, 11):
    numbers.append( random.randint( 0, 11 ) )
for num in range( 0, 11 ):
    for i in numbers:
        if num == i:
            print( num, end = " " )

0 0 1 2 3 3 6 6 7 8 8