## Week 02, Class 2, 20 Jan 2021
### String datatype

#### String is also a container so most of the things that were working for list will work for String. 
#### Difference: List is mutable but String is immutable

In [1]:
name = 'Jasem Salem'
print(name)
# Since string is also a container the indexing works the same way
#

print(  name[0] )
print(  name[1] )
print(  name[2] )
print(  name[3] )
print(  name[4] )
print(  name[5] )
print(  name[6] )
print(  name[7] )
print(  name[8] )

Jasem Salem
J
a
s
e
m

S
a
l

In [2]:
name = 'Jasem Salem'
print(name)
# Since string is also a container the indexing works the same way
idx=0
for c in name:
    print(c, "    ", name[idx])
    idx+=1

Jasem Salem
J      J
a      a
s      s
e      e
m      m

S      S
a      a
l      l
e      e
m      m

In [3]:
name = 'Jasem Salem'
print( name[-1] ) # -1 is for the last index

m

In [4]:
name = 'Jasem Salem'
#name[0] = 'j' # Error. You cannot do that because strs are immutable 

name = 'Ali Salem'
print(name)
#In the the last two lines you are creating a new string object. 
#Now name is pointing to that old one remains intact.

Ali Salem

In [5]:
hello = "Hello" + " " + "World!"
print(hello)

Hello World!

In [6]:
h = "Hello" 
sp = " "
w = "World!"

s = h+sp+w

print(s)

Hello World!

In [7]:
s = "*_*" * 30
print(s)

*_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_**_*

In [18]:
text = "This is out sample text for our example in Python."
print(text[0:6] )
print(text[::2] )# printing indices 0,2,4,6,...end

This i
Ti sotsml etfroreapei yhn

In [21]:
x = "Hello World!"[2:7]
print(x)

llo W

In [26]:
name = 'Saeed'
cs = list(name)
print(  cs  )

s=""
for c in cs:
    s=s+c
print(s)

['S', 'a', 'e', 'e', 'd']
Saeed

In [30]:
s = "This is a text"
print( list(reversed(s)) )
cs=""
for c in reversed(s):
    cs=cs+c
print(cs)

['t', 'x', 'e', 't', ' ', 'a', ' ', 's', 'i', ' ', 's', 'i', 'h', 'T']
txet a si sihT

# Tuples

In [32]:
t = 1,2,3 # tuple
print(t)
t = (1,2,3) # tuple
print(t)
t = 1, # tuple
print(t)
t = (1,)# tuple
print(t)
print( type(t)  )

(1, 2, 3)
(1, 2, 3)
(1,)
(1,)
<class 'tuple'>

In [34]:
rec1 = ('H001', 'Sultan', 3.45,'0123456789')
print(rec1)
rec2 = ('H002', 'Salem', 3.5,'999999999')
print(rec2)
rec3 = ('H003', 'Saeed', 3.1,'000000000')
print(rec3)

recs = [rec1, rec2, rec3]
print(recs)

('H001', 'Sultan', 3.45, '0123456789')
('H002', 'Salem', 3.5, '999999999')
('H003', 'Saeed', 3.1, '000000000')
[('H001', 'Sultan', 3.45, '0123456789'), ('H002', 'Salem', 3.5, '999999999'), ('H003', 'Saeed', 3.1, '000000000')]

In [38]:
rec1 = ('H001', 'Sultan', 3.45,'0123456789')
print(rec1[0])
print(rec1[1])
print(rec1[0:2])
# immutablity of tuple
rec1[0] = "H100" #error

H001
Sultan
('H001', 'Sultan')

TypeError: 'tuple' object does not support item assignment

In [39]:
#What is allowed
rec1 = ('H001', 'Sultan', 3.45,'0123456789')
rec1 = ("H100", 'Sauood', 2.9, '3333333333')
print(rec1)

('H100', 'Sauood', 2.9, '3333333333')

In [41]:
t = (33,22,11)
t = tuple ( sorted(t)  ) 
print( t)

(11, 22, 33)

In [50]:
rec1 = ('E001', 'Sultan', 10000,'Abu Dhabi')
rec2 = ('E002', 'Salem', 15000, 'Sharjah')
rec3 = ('E003', 'Saeed', 18000, 'Sharjah')
rec4 = ('E004', 'Ali', 16000, 'Dubai')
recs = [rec1, rec2, rec3, rec4]

#Q1: Count the number of employees from Sharjah
state=input("Enter state to search:")
c=0
for r in recs:
    if r[3]==state:
        c=c+1
        print(r)

if c==1:
    print("The number of employees from ", state ,"is", c)
elif c==0:
    print("No employee from ", state)
else:
    print("The number of employees from ", state ,"are", c)

Enter state to search:Abu Dhabi
('E001', 'Sultan', 10000, 'Abu Dhabi')
The number of employees from  Abu Dhabi is 1

In [55]:
rec1 = ('E001', 'Sultan', 10000, 'Programmer', 'Abu Dhabi')
rec2 = ('E002', 'Salem', 15000, 'Manager', 'Sharjah')
rec3 = ('E003', 'Saeed', 18000, 'Programmer', 'Sharjah')
rec4 = ('E004', 'Ali', 16000, 'Manager', 'Dubai')
rec5 = ('E005', 'Zayed', 30000, 'CEO', 'Dubai')

recs = [rec1, rec2, rec3, rec4, rec5]

#Q2: Give a bonus of 5% of salary to Programmer
#    Give a bonus of 7% of salary to Manager
#    print all the records with now total salaries
for r in recs:
    print(r)
    if r[3]=='Programmer':
        bonus = r[2]*5/100
        total = r[2] + bonus
        print("Salary", r[2])
        print("Bonus", bonus)
        print("Total", total)
    elif r[3]=='Manager':
        bonus = r[2]*7/100
        total = r[2] + bonus
        print("Salary", r[2])
        print("Bonus", bonus)
        print("Total", total)
    else:
        print("Salary", r[2])
        print("Bonus 0")
        print("Total", r[2])
    print('--------------------')

('E001', 'Sultan', 10000, 'Programmer', 'Abu Dhabi')
Salary 10000
Bonus 500.0
Total 10500.0
--------------------
('E002', 'Salem', 15000, 'Manager', 'Sharjah')
Salary 15000
Bonus 1050.0
Total 16050.0
--------------------
('E003', 'Saeed', 18000, 'Programmer', 'Sharjah')
Salary 18000
Bonus 900.0
Total 18900.0
--------------------
('E004', 'Ali', 16000, 'Manager', 'Dubai')
Salary 16000
Bonus 1120.0
Total 17120.0
--------------------
('E005', 'Zayed', 30000, 'CEO', 'Dubai')
Salary 30000
Bonus 0
Total 30000
--------------------

# Dictionary

In [62]:
#list
alphabet = ['apple', 'bat', 'cat'] #index, value
print(alphabet)
print(alphabet[0])
print(alphabet[1])
print(alphabet[2])

# first dictionary
alphabet = {0:'apple', 1:'ball', 2:'cat'  } #index/name/key, value
print(alphabet)
print(alphabet[0])
print(alphabet[1])
print(alphabet[2])

# Second dictionary
alphabet = {'a':'apple', 'b':'ball', 'c':'cat'  } #index/name/key, value
print(alphabet)
print(alphabet['a'])
print(alphabet['b'])
print(alphabet['c'])

['apple', 'bat', 'cat']
apple
bat
cat
{0: 'apple', 1: 'ball', 2: 'cat'}
apple
ball
cat
{'a': 'apple', 'b': 'ball', 'c': 'cat'}
apple
ball
cat

In [65]:
grades = {"Erik":80, "Tim":95 }
print( grades['Erik']  ) # The value 80 will be printed
print( grades['Tim']  ) # The value 95 will be printed

80
95

In [69]:
grades = [80,95]
b = 85 in grades
print(b)

grades = {"Erik":80, "Tim":95 }
b = 'Erik' in grades
print(b)

False
False

In [83]:
grades = {"Erik":80, "Tim":95 }
x = grades.get('Erik', 0)
print(x)
x = grades.get('Tim', 0)
print(x)
x = grades.get('Ali', 0)
print(x)

80
95
0

In [86]:
names = ['Ali', 'Salem']
names[0] = 'Saeed'
print(names)

names = {'a':'Ali', 's':'Salem'}
names['a'] = 'Saeed'
print(names)

['Saeed', 'Salem']
{'a': 'Saeed', 's': 'Salem'}

In [91]:
alphabet = {'a':'apple', 'b':'ball', 'c':'cat'  }

t = alphabet.items()
print(t)

ks = alphabet.keys()
print( list(ks))
vs = alphabet.values()
print( list(vs))

dict_items([('a', 'apple'), ('b', 'ball'), ('c', 'cat')])
['a', 'b', 'c']
['apple', 'ball', 'cat']

In [94]:
names = {'a':['apple','Ahmed','Alhai','Ali'], 'b':'ball', 'c':('cat','Cat','coat') }

print( names['a'] )
print( names.get('a') )
print( names['c'] )
print( names.get('d') )

['apple', 'Ahmed', 'Alhai', 'Ali']
['apple', 'Ahmed', 'Alhai', 'Ali']
('cat', 'Cat', 'coat')
None

In [96]:
rec1 = ('E001', 'Sultan', 10000, 'Programmer', 'Abu Dhabi')
rec2 = ('E002', 'Salem', 15000, 'Manager', 'Sharjah')
rec3 = ('E003', 'Saeed', 18000, 'Programmer', 'Sharjah')
rec4 = ('E004', 'Ali', 16000, 'Manager', 'Dubai')
rec5 = ('E005', 'Zayed', 30000, 'CEO', 'Dubai')

recs = {rec1[0]:rec1, rec2[0]:rec2, rec3[0]:rec3, rec4[0]:rec4, rec5[0]:rec5,  }
print(recs)

print( recs['E003'] )

{'E001': ('E001', 'Sultan', 10000, 'Programmer', 'Abu Dhabi'), 'E002': ('E002', 'Salem', 15000, 'Manager', 'Sharjah'), 'E003': ('E003', 'Saeed', 18000, 'Programmer', 'Sharjah'), 'E004': ('E004', 'Ali', 16000, 'Manager', 'Dubai'), 'E005': ('E005', 'Zayed', 30000, 'CEO', 'Dubai')}
('E003', 'Saeed', 18000, 'Programmer', 'Sharjah')